<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KinoAndme.Properties.Settings.ConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KinoAndme.Properties.Settings.KinoFormConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KinoForm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="KinoAndme.Properties.Settings.KinoConnectionString"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Kino;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>